@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GilroyLight/Gilroy-Light.eot");
  src: url("../fonts/GilroyLight/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GilroyLight/Gilroy-Light.woff2") format("woff2"), url("../fonts/GilroyLight/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy - Extra Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GilroyExtraBold/Gilroy-ExtraBold.eot");
  src: url("../fonts/GilroyExtraBold/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GilroyExtraBold/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/GilroyExtraBold/Gilroy-ExtraBold.ttf") format("truetype");
}

.page-header {
  background-image: url(../img/header-background-img.png);
  background-repeat: no-repeat;
  background-position: top -20px center;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
}

.header__information-block {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 200px;
}

.header__information-block .header__adress {
  letter-spacing: 0.9px;
  text-align: right;
  padding-right: 10px;
}

.header__information-block .header__mobile-phone {
  text-align: center;
  letter-spacing: 0.9px;
}

.header__information-block .header__link {
  text-align: right;
  letter-spacing: 0.9px;
  color: #f5112c;
  text-decoration: none;
  cursor: pointer;
}

.header__information-block .header__link:after {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  background-color: #f5112c;
  opacity: 0.5;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header__information-block .header__link:hover:after {
  width: 153px;
}

.header__content-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
}

.header__content-block .header__slogan {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 63px;
  font-family: "Gilroy - Extra Bold";
  text-transform: uppercase;
}

.header__content-block .header__slogan .header__slogan--first {
  display: block;
  font-size: 34px;
  letter-spacing: 1.7px;
  padding-left: 49px;
}

.header__content-block .header__slogan .header__slogan--second {
  display: block;
  padding-top: 6px;
  padding-left: 52px;
  font-size: 45px;
  letter-spacing: 2.25px;
}

.header__content-block .header__slogan .header__slogan--third {
  position: relative;
  display: block;
  padding-top: 3px;
  padding-left: 50px;
  font-size: 45px;
  letter-spacing: 2.25px;
}

.header__content-block .header__slogan .header__slogan--third::after {
  position: absolute;
  top: 65px;
  display: block;
  content: '';
  width: 64px;
  height: 7px;
  background-color: #f5112c;
}

.header__content-block .header__slogan-description {
  grid-area: 2 / 2 / 3 / 3;
  margin-bottom: 99px;
  padding-left: 51px;
  padding-right: 110px;
  letter-spacing: 0.9px;
  font-weight: 300;
  line-height: 24px;
}

.header__content-block .header__button {
  grid-area: 3 / 2 / 4 / 3;
  margin-left: 45px;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  border: 1px solid red;
}

.header__content-block .header__button:hover {
  background-color: #f32b4c;
}

.call-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 126px;
  padding-left: 145px;
  padding-right: 145px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 835px;
  height: 540px;
  background-color: #ffffff;
  z-index: 1010;
}

.call-modal .call-modal__close {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.call-modal .call-modal__title {
  margin-bottom: 29px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  text-align: center;
}

.call-modal .call-modal__description {
  margin-bottom: 23px;
  color: #141414;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
}

.call-modal__form .call-modal__input {
  display: block;
  width: 370px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 17px;
  padding-right: 47px;
  padding-left: 47px;
  border-radius: 35px;
  border: 1px solid #bababa;
  opacity: 0.34;
  color: #141414;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
}

.call-modal__form .call-modal__input:hover {
  border: 3px solid #f5112c;
}

.call-modal__form .call-modal__input:focus {
  border: 3px solid #f5112c;
}

.call-modal__form .call-modal__button {
  display: block;
  width: 370px;
  height: 70px;
  border: 1px solid #f5112c;
  margin: 0 auto;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
}

.call-modal__form .call-modal__button:hover {
  background-color: #f32b4c;
}

.modal-overlay {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #656565;
  opacity: 0.9;
}

.open {
  display: block;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  position: relative;
  min-width: 320px;
  font-family: Gilroy;
  font-weight: 300;
  line-height: 24px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.button {
  max-width: 378px;
  min-height: 70px;
  border-radius: 35px;
  background-color: #f5112c;
  font-family: "Gilroy - Extra Bold";
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9px;
  cursor: pointer;
}

@media screen and (max-width: 1169.98px) {
  .page-header {
    background-image: url(../img/header-background-img.png);
    background-repeat: no-repeat;
    background-position: top -70px center;
    background-size: cover;
  }

  .container {
    padding-bottom: 120px;
  }

  .header__logo {
    width: 63px;
    height: 23px;
  }

  .header__information-block {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 89px;
    margin-bottom: 86px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.8px;
  }

  .header__information-block .header__adress {
    text-align: right;
    padding-right: 20px;
  }

  .header__information-block .header__mobile-phone {
    padding-right: 5px;
    text-align: center;
  }

  .header__information-block .header__link {
    text-align: right;
    color: #f5112c;
  }

  .header__content-block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
  }

  .header__content-block .header__slogan {
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 27px;
    font-family: "Gilroy - Extra Bold";
    text-transform: uppercase;
  }

  .header__content-block .header__slogan .header__slogan--first {
    display: block;
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-left: 7px;
  }

  .header__content-block .header__slogan .header__slogan--second {
    display: block;
    padding-top: 0px;
    padding-left: 5px;
    font-size: 30px;
    letter-spacing: 1.5px;
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  .header__content-block .header__slogan .header__slogan--third {
    padding-top: 0px;
    padding-left: 5px;
    font-size: 30px;
    letter-spacing: 1.5px;
    -webkit-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px);
  }

  .header__content-block .header__slogan .header__slogan--third::after {
    top: 50px;
  }

  .header__content-block .header__slogan-description {
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: 68px;
    padding-left: 7px;
    padding-right: 10px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-size: 16px;
  }

  .header__content-block .header__button {
    grid-area: 3 / 2 / 4 / 3;
    margin-left: 11px;
    min-height: 60px;
    max-width: 294px;
    font-size: 14px;
  }

  .call-modal {
    padding-top: 80px;
    padding-left: 145px;
    padding-right: 145px;
    width: 83%;
    max-width: 640px;
    height: 60%;
    background-color: #ffffff;
    z-index: 1010;
  }

  .call-modal .call-modal__title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .call-modal .call-modal__description {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 22px;
  }

  .call-modal__form .call-modal__input {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 17px;
    padding-right: 47px;
    padding-left: 47px;
    border-radius: 35px;
    border: 1px solid #bababa;
    opacity: 0.34;
    color: #141414;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
  }

  .call-modal__form .call-modal__button {
    display: block;
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 768.98px) {
  .call-modal {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    width: 83%;
    max-width: 640px;
    height: 60%;
  }

  .call-modal .call-modal__title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .call-modal .call-modal__description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .call-modal__form .call-modal__input {
    width: 100%;
    max-width: 285px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .call-modal__form .call-modal__button {
    display: block;
    max-width: 285px;
    width: 100%;
    height: 50px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .page-header {
    padding-bottom: 84px;
  }

  .container {
    padding-bottom: 85px;
  }

  .page-header {
    background-image: url(../img/header-background-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 52%;
  }

  .header__information-block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35.5px 35.5px;
    margin-bottom: 340px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.8px;
  }

  .header__information-block .header__logo {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
  }

  .header__information-block .header__adress {
    display: none;
  }

  .header__information-block .header__mobile-phone {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    text-align: right;
  }

  .header__information-block .header__link {
    grid-area: 2 / 2 / 3 / 3;
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .header__content-block {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .header__content-block .header__slogan {
    line-height: 21px;
    margin-bottom: 15px;
    grid-area: 1 / 1 / 2 / 2;
  }

  .header__content-block .header__slogan .header__slogan--first {
    font-size: 18px;
    letter-spacing: 0.9px;
  }

  .header__content-block .header__slogan .header__slogan--second {
    font-size: 24px;
    letter-spacing: 1.2px;
  }

  .header__content-block .header__slogan .header__slogan--third {
    font-size: 24px;
    letter-spacing: 1.2px;
  }

  .header__content-block .header__slogan .header__slogan--third::after {
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 64px;
    height: 7px;
    background-color: #f5112c;
  }

  .header__content-block .header__slogan-description {
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0.7px;
    font-size: 14px;
  }

  .header__content-block .header__button {
    display: block;
    min-width: 295px;
    margin-left: 0;
    margin: 0 auto;
    grid-area: 3 / 1 / 4 / 2;
  }
}
/*# sourceMappingURL=main.css.map */
